{% extends "base.html" %}
{% block title %}Certificates{% endblock %}
{% block content %}
<h2>Certificates</h2>
<div class="cert-grid">

  <a href="{{ url_for('static', filename='images/certificates/AI and ML Seminar.pdf') }}" target="_blank" class="cert-card">
    <p>AI and ML Seminar</p>
  </a>

  <a href="{{ url_for('static', filename='images/certificates/Coursera Linux and SQL.pdf') }}" target="_blank" class="cert-card">
    <p>Coursera – Linux and SQL</p>
  </a>

  <a href="{{ url_for('static', filename='images/certificates/data analytics seminar.pdf') }}" target="_blank" class="cert-card">
    <p>Data Analytics Seminar</p>
  </a>

  <a href="{{ url_for('static', filename='images/certificates/Droid combat seminar.pdf') }}" target="_blank" class="cert-card">
    <p>Droid Combat Seminar</p>
  </a>

  <a href="{{ url_for('static', filename='images/certificates/Foundations of Cyber security - Certificate.pdf') }}" target="_blank" class="cert-card">
    <p>Foundations of Cybersecurity</p>
  </a>

  <a href="{{ url_for('static', filename='images/certificates/Full stack certificate - TT.pdf') }}" target="_blank" class="cert-card">
    <p>Full Stack Certificate (TT)</p>
  </a>

  <a href="{{ url_for('static', filename='images/certificates/Guvi Python certificate.png') }}" target="_blank" class="cert-card">
    <p>Guvi – Python Certificate</p>
  </a>

  <a href="{{ url_for('static', filename='images/certificates/IIT-M certificate.jpg') }}" target="_blank" class="cert-card">
    <p>IIT-M Certificate</p>
  </a>

  <a href="{{ url_for('static', filename='images/certificates/Java course certificate.pdf') }}" target="_blank" class="cert-card">
    <p>Java Course Certificate</p>
  </a>

  <a href="{{ url_for('static', filename='images/certificates/Manage Security Risks.pdf') }}" target="_blank" class="cert-card">
    <p>Manage Security Risks</p>
  </a>

  <a href="{{ url_for('static', filename='images/certificates/Networks and Network Security.pdf') }}" target="_blank" class="cert-card">
    <p>Networks & Network Security</p>
  </a>

  <a href="{{ url_for('static', filename='images/certificates/Robotics Automation Seminar.pdf') }}" target="_blank" class="cert-card">
    <p>Robotics Automation Seminar</p>
  </a>

</div>
{% endblock %}
